:root {
  font-family: "Press Start 2P", serif;
  --primary-color: #9ec91e;
  --secondary-color: #f2c244;
}
body {
  overflow-y: hidden;
}

.main-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.parent {
  width: 40rem;
  min-height: 99vh;
}
.top-sec {
  height: 38vh;
  width: 100%;
  background-color: var(--primary-color);
}
.text-content {
  display: flex;
  font-size: 0.9rem;
  justify-content: space-between;
  padding: 1rem;
  font-weight: 400;
  /* border: 2px solid red; */
}

.right {
  display: flex;
  gap: 1rem;
  /* border: 2px solid yellow; */
}
.left {
  display: flex;
  gap: 1rem;
}
.left a {
  color: blue;
}
@media screen and (max-width: 46.875rem) {
  .text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
  }
  .right {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
  }
}
.computer {
  display: flex;
  justify-content: center;
  margin-top: 0rem;
  /* border: 2px solid red; */
}
.computer-section p {
  padding-bottom: 1rem;
  /* border: 2px solid red; */
}

.hand {
  margin-top: 0rem;
  width: 8rem;
  height: 8rem;
  border: dotted;
}

.center-text {
  padding: 1.2rem;
  text-align: center;
  background-color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 400;
}
.bottom-sec {
  height: 53vh;
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
}
.container-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#hand {
  margin-top: 1rem;
}
.player-choice-section {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  /* border: 2px solid red; */
}
@media screen and (max-width: 33.125rem) {
  .player-choice-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
.container-bottom p {
  margin-top: 1rem;
}
.choice1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 7rem;
  background-color: #fff;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  /* border: 2px solid red; */
}
.choice1 p {
  font-size: 0.8rem;
}

#emoji {
  font-size: 2.5rem;
}

.fist {
  font-size: 5rem;
}
.choice-text {
  font-size: 1rem;
  padding-bottom: 1rem;
}
#Scissors {
  width: 9rem;
}
